.bd-main .bd-content .bd-article-container {
  max-width: 100%;  /* default is 60em */
}

.bd-page-width {
  max-width: 100%;  /* default is 88rem */
}

[data-theme='light'] {
    --spacer-color: rgba(0, 0, 0, 1.0);
}

[data-theme='dark'] {
    --spacer-color: rgba(255, 255, 255, 1.0);
}

hr.docutils {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, 
        rgba(0, 0, 0, 0), 
        var(--spacer-color), 
        rgba(0, 0, 0, 0));
    margin: 2em 0;
}